<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Chestnut Demo</h1>

    <h2>
      This is the demo for the
      <a href="http://homes.cs.washington.edu/~congy/chestnut.pdf">Chestnut</a>
      project.
    </h2>

	<br>
  <div style="text-align: center;">
  <%= image_tag("chestnut1.png", :alt => "chestnut 1", :style => "width: 50%") %>
	<br> <br> Using chestnut for application
	<br>
	<br>
	<br>
  <%= image_tag("chestnut2.png", :alt => "chestnut 2", :style => "width: 50%;") %>
	<br> <br> Chestnut architecture

  </div>
	<br>
	<h2>
		Choose one of the application to start with:
	</h2>
	<br>
	<% @apps.each do |app| %>
    	<%= link_to app.name, customapp_show_path(:id=>app.id), class: "btn btn-lg btn-primary" %>
	<% end %>
  </div>

<% end %>
