<% provide(:title, "Help") %>
<h1><%= @customapp.name %></h1>
<p>
<div class="row">
	<% @customapp.webpages.each do |webpage| %> 
  		<div class="col-sm-4">
		<h2><b> <%= webpage.name %> </b></h1><br>
  		<%= link_to image_tag(webpage.screenshot_filename, style: "width: 100%", alt: webpage.name),
              webpage_path(:id=>webpage.id) %>
		</div>
	<% end %>
</div>
</p>
<p>
  <%= link_to "Edit page weight", edit_customapp_path(:id=>@customapp.id), class: "btn btn-lg btn-primary" %>
  <%= link_to "Show data layout", showlayout_path(:id=>@customapp.id), class: "btn btn-lg btn-primary" %>
  <%= link_to "Evaluation", evaluate_path(:id=>@customapp.id), class: "btn btn-lg btn-primary" %>
</p>
