<% provide(:title, "Help") %>
<h1><%= @customapp.name %></h1>
<p>

<%= form_for @customapp do |f| %>
  <% @customapp.webpages.each do |webpage| %>
    <% next if not webpage.included%> 
		<div style="float:right; width: 400px">
			<h2><%= webpage.name %></h2>
			<% webpage.queries.each_with_index do |query, index| %>
				<h4>Query <%= (index+1) %>: </h4>
				<p style="font-family: Consolas, monospace; font-size: 0.8em; line-height: 100%;">
					<% query.query.split('#').each_with_index do |queryline, index| %>
						<% if index == 0 %>
							<%= queryline %>
						<% else %>
							&nbsp;&nbsp;&nbsp;&nbsp;<%= queryline %>
						<% end %>
						<br>
					<% end %>
				</p>
			<% end %>
			<h4>Query weight: <%= webpage.custom_weight == 0 ? webpage.weight : webpage.custom_weight %></h4>
			<%= f.fields_for "webpages[]", webpage do |pf| %>
				<h4>Choose page weight:</h4>
				<div><%= pf.radio_button :weight, '0',  :style=>"width: 20px;" %>0</div>
				<div><%= pf.radio_button :weight, '1',  :style=>"width: 20px;" %>1</div>
				<div><%= pf.radio_button :weight, '10', :style=>"width: 20px;" %>10</div>
				<b>Or manually input a page weight:</b>
      		<%= pf.text_field :custom_weight, size: 10 %> <br />
				<button class="btn btn-info" type="submit">Save</button>
			<% end %>
		</div>
		<div class="column">
			<%= link_to image_tag(webpage.screenshot_filename, style: "width: 50%", alt: webpage.name),
              webpage_path(:id=>webpage.id) %>
  	</div>
	<% end %>

  <!--
  <%= f.fields_for :mem_bound do |pf| %>
    <b>Choose a memory bound:</b><br />
		<%= pf.radio_button :mem_bound, '1.2' %> 1.2x data size <br />
		<%= pf.radio_button :mem_bound, '1.7' %> 1.7x data size <br />
		<%= pf.radio_button :mem_bound, '3' %> 3x data size<br />
		<button class="btn btn-info" type="submit">Save</button>
  <% end %>
  -->

<% end %>

<br>
<br>

<%= link_to "Show data layout", showlayout2_path, class: "btn btn-lg btn-primary" %>

<!--
<p>
  <%= link_to "Edit page weight", edit_customapp_path(:id=>@customapp.id), class: "btn btn-lg btn-primary" %>
  <%= link_to "Show data layout", showlayout_path(:id=>@customapp.id), class: "btn btn-lg btn-primary" %>
  <%= link_to "Evaluation", evaluate_path(:id=>@customapp.id), class: "btn btn-lg btn-primary" %>
</p>
-->
